
{% extends 'base.html' %}

{% load static %}
{% block content %}
<style type="text/css">
  #container{
    width: 40%;
  }
  @media only screen and (max-width: 1024px){
    #container{
      width: 90%;
    }
  }
</style>
<div class="my-6"></div>
<section class="hero is-medium">
  <div class="hero-body has-text-centered">
    <div class="container" id="container">
      <form method="POST">{% csrf_token %}
      	<h1>Réinitialiser le mot de passe</h1>
          <input name="email" class="input mb-4" placeholder="Email address" type="email" id="id_email" required="true">
      	<button class="button is-black" type="submit">Envoyer email</button>  
      </form>
    </div>
</div>
</section>

{% endblock %}