{% extends 'base.html' %}

{% block content %}

<div class="my-6"></div>
<section class="hero is-medium">
  <div class="hero-body has-text-centered">
	<div class="container">

		<div>
			  <p class="mb-2">Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe, si un compte existe avec l'e-mail que vous avez entré.
Vous devriez les recevoir sous peu.
			  </p>
			  <p class="mb-2">Si vous ne recevez pas d'e-mail, assurez-vous d'avoir saisi l'adresse avec laquelle vous vous êtes inscrit,
				et vérifiez votre dossier spam.
			  </p>
			  <p ><a href="{% url 'core:index' %}">Retour à la page d'accueil</a></p>
		</div>
	</div>
</div>
</section>

{% endblock %}