{% extends 'base.html' %}
{% load static %}

{% block title %}S'inscrire{% endblock %}

{% block content %}
	<div class="container p-6">
		<div class="p-4" style="margin: 0 auto" id="maincont">
			<div class="has-text-centered">
				<form method="POST">
					{% csrf_token %}
						{% if registration_form.non_field_errors %}
							<b style="color: red;">
								<ul style="margin:0px;padding: 0px" class="errorlist nonfield">
									<li style="list-style-type: none">Invalid Login</li>
								</ul>
							</b>
						{% endif %}

						{% for i in registration_form %}
						    {% for error in i.errors %}
						        <div>
						            <li><strong>{{ error|escape }}</strong></li>
						        </div>
						    {% endfor %}
						{% endfor %}
					<input type="email" name="email" maxlength="60" required id="id_email" class="input mb-4" placeholder="Email">

					<input type="text" name="username" maxlength="30" required id="id_username" class="input mb-4" placeholder="Nom d'utilisateur">

					<input type="password" name="password1" required id="id_password1" class="input mb-4" placeholder="Mot de passe">

					<input type="password" name="password2" required id="id_password2" class="input mb-4" placeholder="Confirmation">

					<input type="text" name="first_name" maxlength="80" required id="id_first_name" class="input mb-4" placeholder="Prénom">

					<input type="text" name="last_name" maxlength="80" required id="id_last_name" class="input mb-4" placeholder="Nom">
					<input type="checkbox" id="agree" onchange="this.checked?document.getElementById('subbut').disabled = false:document.getElementById('subbut').disabled = true"><label for="agree" class="ml-2"><b>J’ai lu et j’accepte les conditions d’utilisation</b></label>
					<div class="has-text-centered"><br>
						<button type="submit" class="button is-dark px-5 is-radiusless" disabled id="subbut"><b>S'inscrire</b></button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}